<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3>
    About
  </h3>
  <p>PhD Student in Neuroscience</p>

  <p>
    <div class="media">
      <img src="http://i.imgur.com/TItthQf.png" alt="Julie Lee" class="pull-left">
      <div class="media-body">
        <h3 class="media-heading">Julie Lee</h3>
        <h4 class="media-heading">(@synapticlee)</h4>
      </div>
    </div>
  </p>

  <a href="https://twitter.com/synapticlee" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @synapticlee</a>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>